@import url("./1-settings/border.css");
@import url("./1-settings/spacing.css");
@import url("./1-settings/typography.css");
@import url("./1-settings/width.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

* {
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}
/* Sections */

.section-sm {
  padding-block: var(--spacing-6);
}

.section {
  padding-block: var(--spacing-12);
}

.section-lg {
  padding-block: var(--spacing-24);
}

.section-xl {
  padding-block: var(--spacing-36);
}

/* Container */

.container {
  --padding: 16px;
  padding-inline: var(--padding);
  margin-inline: auto;
}

@media (min-width: 40rem) {
  .container {
    --padding: 24px;
  }
}

@media (min-width: 64rem) {
  .container {
    --padding: 32px;
  }
}

/*
Pancake Layout

<div class="pancake-stack">
  <header>...</header>
  <main>...</main>
  <footer>...</footer>
</div>
*/

.pancake-stack {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Pancake Stack - Version Flexbox */

/* .pancake-stack {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pancake-stack > :nth-child(2) {
  flex-grow: 1;
} */
